body {
    background:white;
}

#williams-sonoma {
    text-align: center;
}

#product-region {
    display: flex;
  }

  #product-images {
    flex: 0 0  58%;
  }
  #product-information {
    flex: 1;
  }

  #product-name {
    font-weight: bold;
  }

  #product-info {
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #product-price {
    font-weight: bold;
    padding:6px;
    font-size: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;   
  }
  #product-quantity {
    font-weight: bold;
    padding:6px;
    font-size: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    width: 5px;  
    size: 4;  
  }

.apron-thumbnail {
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: hand;
  }
  

.apron-thumbnail li {
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
  }

.hero {
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: hand;
  }

.menuitems {
    display: flex;
    justify-content: left;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(14, 4, 4);
    color:white;
    font-size: 13px;
  }
  
  .menuitems li {
    list-style-type: none;
    margin: 7px;
    font-weight: bold;
    cursor: pointer;
  }

  .expanded-info {
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 32px;
    text-align: left;
  }
  
  .button:hover {background-color: green}
  
  .button:active {
    background-color: red;
    box-shadow: 0 1px red;
    transform: translateY(2px);
  }

  .button {
    background-color: red; 
    border: 0;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: hand;
}


.button-expander {
    background-color: white; 
    border: 1;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: hand;
}

.expandor-button {
    text-align: left;
    background:0;
    border:0;
    margin:0;
    padding:6px;
    font-size: 14px;
    font-weight: bold;
}

.confirm-purchase {
    padding: 15px 32px;
    background-color: black;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: rgb(241, 62, 62);
}